body{
  font-family:Verdana,sans-serif;
  letter-spacing: 0.1em;
}

li {
  list-style: none;
}

#page{
    max-width: 1080px;
    min-width: 470px;
    background-color: rgb(210, 210, 210);
    font-size: 14px;
    color:dimgrey;
    margin: 50px auto;
}

#title {
  padding: 40px 20px;
  background-color: rgb(230, 230, 230);
}

p.current {
  float: left;
  background-color:darkcyan;
  color:mediumblue;
  padding:10px 10px 10px;
  margin: 10px 10px 10px;
  font-size:20px;
}

p.navi {
  float: left;
  padding:10px 10px 10px;
  margin: 10px 10px 10px;
  font-size:20px;
}

